/* navbar.css */

nav {
    background-color: #333;
    text-align: center;
}

ul {
    display: flex;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
}

li {
    margin: 0 10px;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button{
    display: block;
    color: white;
    text-align: center;
    background-color: #333; /* Grey background */
    padding: 10px 20px;
    color: white; /* White text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
}

button:hover{
    background-color: #555;
}
a:hover {
    background-color: #555;
}
